# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/

# ==============================
# Streamlit
# ==============================
.streamlit/secrets.toml

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# ML Models (optional but recommended)
# ==============================
*.pkl
*.joblib
*.h5

# ==============================
# Dataset Files (if large)
# ==============================
*.csv
*.xlsx
*.json

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log